LLMOD_API_KEY=
LLMOD_BASE_URL=https://api.llmod.ai/v1
LLMOD_CHAT_MODEL=RPRTHPB-gpt-5-mini
LLMOD_EMBEDDING_MODEL=RPRTHPB-text-embedding-3-small
PINECONE_API_KEY=
PINECONE_INDEX=sourdough-knowledge
SUPABASE_URL=
SUPABASE_KEY=
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres
