# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
logs/

# Docker
*.dockerignore
datasets/
